/* ImageDisplay.css */
.image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.label-image {
  max-width: 100%;
  max-height: 68vh;
  cursor: crosshair;
  display: block;
}

.crosshair {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.horizontal-line,
.vertical-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: red;
}

.vertical-line {
  transform: rotate(45deg);
}
.horizontal-line {
  transform: rotate(-45deg);
}
