/* NavigationButtons.css */
.navigation-buttons {
  margin-bottom: 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  flex: 1;
}

.nav-button:not(.disabled) {
  cursor: pointer;
  background-color: #2196f3;
}

.nav-button.disabled {
  cursor: not-allowed;
  background-color: #b0bec5;
}
